
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial">
                    <div class="testimonial-content">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus nisi nec rutrum gravida. Nullam ornare sed libero non viverra. Quisque auctor cursus purus. Donec lacinia elementum justo sit amet vulputate. Phasellus varius sapien sed.
                        </p>
                    </div>
                    <div class="testimonial-profile">
                        <div class="pic">
                            <img src="/img/avatar-1.jpg" alt="">
                        </div>
                        <h3 class="title">
                            Williamson
                            <span class="post">Web Developer</span>
                        </h3>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="testimonial-content">
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus nisi nec rutrum gravida. Nullam ornare sed libero non viverra. Quisque auctor cursus purus. Donec lacinia elementum justo sit amet vulputate. Phasellus varius sapien sed.
                        </p>
                    </div>
                    <div class="testimonial-profile">
                        <div class="pic">
                            <img src="/img/avatar-2.jpg" alt="">
                        </div>
                        <h3 class="title">
                            Kristina
                            <span class="post">Web Designer</span>
                        </h3>
                    </div>
                </div>
		    </div>
		</div>
	    </div>
	
