<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include slide_show.html %}
    {% include services.html %}

    {% include about.html %}
    {% include team.html %}

    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
 <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-598c9383ea4b812d"></script> 

    </body>
</html>
